*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea

android-networking/local.properties

android-networking/gradle/wrapper/

android-networking/gradlew

android-networking/gradlew.bat

gradle/wrapper/gradle-wrapper.properties
.externalNativeBuild/
.cxx/
.idea/
.gradle/wrapper/